.c_h-ome-frame {
  width: 100%;
  overflow: hidden;
  max-width: 1280px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.c_h-ome-text {
  width: 100%;
  max-width: 220px;
  min-height: 40px;
}

.c_h-ome-text,
.c_h-ome-text1,
.c_h-ome-text2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text1 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-family: "Abhaya Libre ExtraBold", sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text2 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text3,
.c_h-ome-text4,
.c_h-ome-text5 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text4 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text5 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-instance {
  width: 100%;
  overflow: hidden;
  max-width: 27px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 100px 100px 100px 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eaddff;
}
